USE [master]
GO
/****** Object:  Database [MovieDB]    Script Date: 4/4/2022 10:39:29 p. m. ******/
CREATE DATABASE [MovieDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieDB', FILENAME = N'D:\Programs\SQL server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MovieDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieDB_log', FILENAME = N'D:\Programs\SQL server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MovieDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieDB]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 4/4/2022 10:39:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 4/4/2022 10:39:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](50) NULL,
	[Sinopsis] [nvarchar](max) NULL,
	[IdGenero] [int] NOT NULL,
	[Fecha_salida] [nvarchar](50) NULL,
	[Puntuacion] [nvarchar](10) NULL,
	[Imagen] [nvarchar](max) NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 4/4/2022 10:39:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPelicula] [int] NOT NULL,
	[Prestatario] [nvarchar](100) NULL,
	[Fecha_prestamo] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Genero] ON 

INSERT [dbo].[Genero] ([Id], [Tipo], [Descripcion]) VALUES (1, N'Accion', N'Peliculas de movimiento ')
INSERT [dbo].[Genero] ([Id], [Tipo], [Descripcion]) VALUES (4, N'Terror', N'Peliculas de miedo y cosas variadas')
INSERT [dbo].[Genero] ([Id], [Tipo], [Descripcion]) VALUES (5, N'Comedia', N'Peliculas de comedia')
SET IDENTITY_INSERT [dbo].[Genero] OFF
SET IDENTITY_INSERT [dbo].[Pelicula] ON 

SET IDENTITY_INSERT [dbo].[Pelicula] OFF
SET IDENTITY_INSERT [dbo].[Prestamos] ON 

INSERT [dbo].[Prestamos] ([Id], [IdPelicula], [Prestatario], [Fecha_prestamo]) VALUES (5, 8, N'juan', CAST(N'2022-04-04' AS Date))
INSERT [dbo].[Prestamos] ([Id], [IdPelicula], [Prestatario], [Fecha_prestamo]) VALUES (10, 14, N'Julian gomez', CAST(N'2022-04-04' AS Date))
INSERT [dbo].[Prestamos] ([Id], [IdPelicula], [Prestatario], [Fecha_prestamo]) VALUES (11, 7, N'Alex el capo', CAST(N'2022-04-04' AS Date))
SET IDENTITY_INSERT [dbo].[Prestamos] OFF
/****** Object:  Index [UQ__Prestamo__60537FD188445743]    Script Date: 4/4/2022 10:39:30 p. m. ******/
ALTER TABLE [dbo].[Prestamos] ADD UNIQUE NONCLUSTERED 
(
	[IdPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT (getdate()) FOR [Fecha_prestamo]
GO
ALTER TABLE [dbo].[Pelicula]  WITH CHECK ADD FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Genero] ([Id])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([IdPelicula])
REFERENCES [dbo].[Pelicula] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[Devolver_Pelicula]    Script Date: 4/4/2022 10:39:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Devolver_Pelicula](@idPelicula int)
as 
begin 
	delete from Prestamos where IdPelicula = @idPelicula
	update Pelicula set Estado = 'En casa' where id = @idPelicula 
end 
GO
/****** Object:  StoredProcedure [dbo].[Prestar_Pelicula]    Script Date: 4/4/2022 10:39:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Prestar_Pelicula](@id int, @prestatario varchar(100))
as 
begin 
	insert into Prestamos(IdPelicula, Prestatario) Values (@id, @prestatario)
	update Pelicula set Estado = 'Prestada' where id = @id
end 
GO
/****** Object:  StoredProcedure [dbo].[SP_Peliculas]    Script Date: 4/4/2022 10:39:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_Peliculas]
as 
begin 
	Select p.*, g.Tipo from Pelicula as p inner join Genero as g on p.IdGenero = g.Id
end
GO
USE [master]
GO
