<div class="top-row pl-4 navbar navbar-dark" style="background-color: #1c57b9">
    <a class="navbar-brand" href="">Movie App</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="background-color: #1c57b9">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Mis Peliculas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddGender">
                <span class="oi oi-plus" aria-hidden="true"></span> Generos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddMovies">
                <span class="oi oi-plus" aria-hidden="true"></span> Peliculas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Prestaciones">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Prestamos
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
